@use "../abstracts" as *;

.btn {
  display: inline-block;
  padding: 12px 24px;
  border-radius: 6px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;

  &-primary {
    background-color: $primary-color;
    color: $bg-white;

    &:hover {
      background-color: $primary-dark;
    }
  }
}