@use "../abstracts" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-main;
  color: $dark-color;
  background-color: $light-bg;
  line-height: 1.6;
}

section {
  @include section-padding;
}